p{
  font-size: 18px;
}

/* permt d'arrondir chaque numéro*/
 .number1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;
}

/* permt d'arrondir chaque numéro*/
.number2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin-right: 12px;
}

/* permt d'arrondir chaque numéro*/
.number3 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin-right: 12px;
}

/* permt d'arrondir chaque numéro*/
.number4 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin-right: 12px;
}
/* permt d'arrondir chaque numéro*/
.number5 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin-right: 12px;
}

/*pour aligner tout les éléments de ma div de façon verticale */
.number {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin: 14px;
  margin-right: 3px;
}
.button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
/* .button:hover pour le survol * /

 .button:hover {
  background-color: #45a049;
}

/* pour cacher tout mes éléments qui y sont */ 

#message {
  display: block;
}

